.Universal.Container{
  max-height: 100vh;
  padding: .6em;
  .header{
      text-align: center;
  }
  .data{
      padding: 0 .5em;
      font-size: .8em;
      max-height: 100%;
      .label{
        background-color: white;
        color: black;
        padding: .2em .2em;
        &.bottom{
            margin-top: .5em;
        }
      }
      .suite{
          font-size: .8em;
          display: flex;
          justify-content: space-between;
          padding: .1em 0 .1em .6em;
      }
  }

  #player{
      display: none;
      width: 100%;
      max-height: 50vh;
  }
  .adSpace{
      grid-column: 3;
      grid-row: 3;
  }
}


@media only screen and (min-width: 300px){
    :root{
        font-size: 25px;
    }
}
@media only screen and (min-width: 450px){
    :root{
        font-size: 35px;
    }
}
@media only screen and (min-width: 700px){
    :root{
        font-size: 45px;
    }
}
@media (orientation: landscape) and (min-width: 700px){
  :root{
    font-size: 35px;
  }
    .Universal.Container{
        display: grid;
        grid-template-columns: 25vw 25vw 1fr;
        grid-template-rows: 15vh 1fr 30vh;
        .header, .adSpace, #simustreamLogo{
            align-self: center;
            justify-self: center;
        }
        .header{
            grid-column: span 2;
            padding: 0;
        }
        .map{
            grid-column: 1;
            grid-row: 2 / span 2;
        }
        #player{
            display: block;
            grid-column: 3;
            grid-row: 2;
            height: 100%;
        }
        .data{
            font-size: .5em;
            padding: 0 1em;;
            grid-column: 2;
            grid-row: 2 / span 2;

        }
        #simustreamLogo{
            height: 160%;
            grid-column: 3;
            grid-row: 1;
        }
    }
}
@media only screen and (min-width: 850px){
  :root{
      font-size: 40px;
    }
    .Universal.Container{
      .data{
        font-size: .5em;
      }
  }
}
@media only screen and (min-width: 1200px){
    .Universal.Container{
      .data{
        font-size: .7em;
      }
  }
}
@media only screen and (min-width: 1480px){
    :root{
      font-size: 49px;
    }
    .Universal.Container{
      .data{
        font-size: .7em;
      }
  }
}
@media only screen and (min-width: 2000px){
    :root{
        font-size: 85px;
    }
    .Universal.Container{
      .data{
        font-size: .56em;
      }
  }
}
@media only screen and (min-width: 2500px){
  .Universal.Container{
    .data{
      font-size: .5em;
    }
  }
}
@media (orientation: landscape) and (min-width: 3000px){
  :root{
    font-size: 96px;
  }
  .Universal.Container{
      .data{
          font-size: .75em;
      }
  }
}
//********************************************************
//        Vertical     CSS
//**********************************************************
// @media (min-width: 2000px){
//     div.Universal.Container.vertical{
//         max-height: 100vw;
//         width: 100vh;
//         height: 100vw;
//         transform: rotate(90deg) translateX(-604px) translateY(-600px);
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         overflow-y: hidden;
//       #simustreamLogo{
//         margin: 0 auto;
//         max-height: 10vh;
//       }
//       .adSpace{
//         margin: 2em;
//         display: grid;
//         font-size: .5em;
//         justify-items: center;
//         img{
//             margin: 1em 0;
//             width: 30vw;
//         }
//       }
//     }
// }